<%- include ../header.html %>

<%- include ../admin_left.html %>
<link rel="stylesheet" href="/stylesheets/admin-common.css">

<div class="col-xs-12 col-sm-9 col-md-10 container">
	<h3 class="form-group">配置项列表<smal class="pull-right"><a href="javascript:void(0);"  class="btn btn-primary btn-create-newconfig">添加配置项</a></smal></h3>
	<hr />
	<div>
		<table class="table table-bordered">
			<thead>
				<tr class="info">
					<th style="width: 80px;"></th>
					<th style="width: 150px;">标题</th>
					<th style="width: 150px;">名称</th>
					<th>内容</th>
					<th style="width: 120px;">操作</th>
				</tr>
			</thead>
			<tbody class="config-list"></tbody>
		</table>
<!-- 		<div class="form-group">
			<div class="col-sm-8">
				<button type="submit" class="btn btn-primary" style="margin-right: 20px;">提交</button>
				<input type="button" class="back btn btn-info" value="返回" onclick="history.go(-1)">
			</div>
		</div> -->
	</div>
	<!-- 添加系统配置 -->
	<div class="create-config" style="display: none;">
		<div class="create-config-bg"></div>
		<div class="create-config-wrapper">
			<h3>添加系统配置</h3>
			<div class="form-horizontal" style="margin: 0 20px 0 0;">
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="create_title">标题</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" name="create_title" placeholder="请输入标题">
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="create_name">名称</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" name="create_name" placeholder="请输入名称">
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="create_contain">内容</label>
			    <div class="col-sm-10">
			      <textarea name="create_contain" class="form-control" cols="20" rows="5" placeholder="请输入内容"></textarea>
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary" style="margin-right: 20px;" onclick="createSubmit(this)">提交</button>
			      <button type="submit" class="btn btn-info create_back">返回</button>
			    </div>
				</div>
			</div>
		</div>
	</div>

	<!-- 修改系统配置 -->
	<div class="update-config" style="display: none;">
		<div class="create-config-bg"></div>
		<div class="create-config-wrapper">
			<h3>修改系统配置</h3>
			<div class="form-horizontal" style="margin: 0 20px 0 0;">
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="update_title">标题</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" name="update_title" placeholder="请输入标题">
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="update_name">名称</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" name="update_name" placeholder="请输入名称">
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="update_contain">内容</label>
			    <div class="col-sm-10">
			      <textarea name="update_contain" class="form-control" cols="20" rows="5" placeholder="请输入内容"></textarea>
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary" style="margin-right: 20px;" onclick="updateSubmit(this)">提交</button>
			      <button type="submit" class="btn btn-info update_back">返回</button>
			    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function () {
	getConfig()
	$('.btn-create-newconfig').click(function () {
		$('.create-config').show()
	})
	$('.create_back, .update_back').click(function () {
		$('.create-config').fadeOut()
		$('.update-config').fadeOut()
	})
})

// 获取数据
function getConfig() {
	$.ajax({
		type: 'GET',
		url: '/config/getConfig',
		dataType: 'json',
		success:function (data) {
			// console.log(data);

			if (data.code == 0) {
				var newTr = '';
				for (var i = 0; i < data.data.length; i++) {
					newTr += '<tr><td>'+Number(i+1)+'</td><td>'+data.data[i].title+'</td><td>'+data.data[i].name+'</td><td style="text-align: left;"><textarea readonly>'+data.data[i].con+'</textarea></td><td class="operation"><a href="javascript:void(0);" onclick="updateConfig(\''+data.data[i].title+'\')">修改</a><a href="javascript:void(0);" onclick="removeConfig(\''+data.data[i].title+'\')">删除</a></td></tr>';
				}
				
				$('.config-list').append(newTr)
			}
		}
	})
}

// 更新数据
function updateConfig(title) {
	$.ajax({
		type: 'GET',
		url: '/config/updateConfig?title='+title,
		dataType: 'json',
		success:function (data) {
			console.log(data)
			$(".update-config").show();
			if (data.code === 0) {
				$('input[name="update_title"]').val(data.data.title)
				$('input[name="update_name"]').val(data.data.name)
				$('textarea[name="update_contain"]').val(data.data.con)
			}
		}
	})
}

function updateSubmit(obj) {
	$(obj).attr('disabled', 'disabled')

	$.ajax({
		type: 'POST',
		url: '/config/updateConfig',
		data: {
			title: $('input[name="update_title"]').val(),
			name: $('input[name="update_name"]').val(),
			contain: $('textarea[name="update_contain"]').val()
		},
		dataType: 'json',
		success: function (data) {
			// console.log(data)
			var layerIcon = data.code == 0 ? 1 : 2
			layer.msg(data.msg, {
			  icon: layerIcon,
			  time: 2000 //2秒关闭（如果不配置，默认是3秒）
			}, function(){
				window.location.reload();
			}); 
		}
	})
}

function createSubmit(obj) {
	if ($('input[name="create_title"]').val() == "" || $('input[name="create_name"]').val() == "" || $('textarea[name="create_contain"]').val() == "") {
		layer.msg('内容不能留空');

		return
	}

	$(obj).attr('disabled', 'disabled')
	var data = {
		createTitle: $('input[name="create_title"]').val(),
		createName: $('input[name="create_name"]').val(),
		createContain: $('textarea[name="create_contain"]').val(),
	}

	$.ajax({
		type: 'POST',
		url: '/config/createConfig',
		data: data,
		dataType: 'json',
		success:function (data) {
			var layerIcon = data.code == 0 ? 1 : 2
			layer.msg(data.msg, {
			  icon: layerIcon,
			  time: 2000 //2秒关闭（如果不配置，默认是3秒）
			}, function(){
				layerIcon == 1 ? window.location.reload() : $(obj).removeAttr('disabled')
			}); 
		}
	})
}

function removeConfig(title) {
	$.ajax({
		type: 'POST',
		url: '/config/removeConfig',
		data: {title: title},
		dataType: 'json',
		success:function (data) {
			var layerIcon = data.code == 0 ? 1 : 2
			layer.msg(data.msg, {
			  icon: layerIcon,
			  time: 2000 //2秒关闭（如果不配置，默认是3秒）
			}, function(){
				window.location.reload();
			}); 
		}
	})
}
</script>
<%- include ../footer.html %>