<%- include ../header.html %>

<%- include ../admin_left.html %>
<style type="text/css">
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { vertical-align: middle; text-align: center; }
textarea { width: 100%; padding:5px; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc; resize: none; }
.operation a { margin:0 5px; }
.create-config { position: fixed; z-index: 999; top:0; left:0; width: 100%; height: 100%; }
.create-config .create-config-bg { position: fixed; z-index: 1000; width: 100%; height: 100%; top: 0; left: 0; background:rgba(0, 0, 0, 0.5);  }
.create-config .create-config-wrapper { position: fixed; z-index: 1001; width: 500px;  background-color: #fff; left: 50%; top: 15%; margin-left: -250px; border-radius: 10px; }
.create-config .create-config-wrapper h3 { text-align: center; font-size: 18px; position: relative; margin-bottom: 30px}
</style>
<div class="col-xs-12 col-sm-9 col-md-10 container">
	<h3 class="form-group">配置项列表<smal class="pull-right"><a href="javascript:void(0);"  class="btn btn-primary btn-create-newconfig">添加配置项</a></smal></h3>
	<hr />
	<div>
		<table class="table table-bordered">
			<thead>
				<tr class="info">
					<th style="width: 80px;">排序</th>
					<th style="width: 150px;">标题</th>
					<th style="width: 150px;">名称</th>
					<th>内容</th>
					<th style="width: 120px;">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="text" value="1" style="width: 40px; padding: 3px 5px; text-align: center;">
					</td>
					<td>config-title</td>
					<td>config-name</td>
					<td style="text-align: left;">
						<textarea rows="3">啦啦啦啦啦啦</textarea>
					</td>
					<td class="operation">
						<a href="">修改</a>
						<a href="">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-group">
			<div class="col-sm-8">
				<button type="submit" class="btn btn-primary" style="margin-right: 20px;">提交</button>
				<input type="button" class="back btn btn-info" value="返回" onclick="history.go(-1)">
			</div>
		</div>
	</div>
	<!-- 添加系统配置 -->
	<div class="create-config" style="display: none;">
		<div class="create-config-bg"></div>
		<div class="create-config-wrapper">
			<h3>添加系统配置</h3>
			<div class="form-horizontal" style="margin: 0 20px 0 0;">
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="create_title">标题</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" name="create_title" placeholder="请输入标题">
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="create_name">名称</label>
			    <div class="col-sm-10">
			      <input class="form-control" type="text" name="create_name" placeholder="请输入名称">
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label" for="create_contain">内容</label>
			    <div class="col-sm-10">
			      <textarea name="create_contain" class="form-control" cols="20" rows="5" placeholder="请输入内容"></textarea>
			    </div>
				</div>
				<div class="form-group form-group-xl">
			    <label class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary" style="margin-right: 20px;" onclick="createSubmit(this)">提交</button>
			      <button type="submit" class="btn btn-info create_back">返回</button>
			    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function () {
	getConfig()
	$('.btn-create-newconfig').click(function () {
		$('.create-config').show()
	})
	$('.create_back').click(function () {
		$('.create-config').fadeOut()
	})
})
function getConfig() {
	$.ajax({
		type: 'GET',
		url: '/config/getConfig',
		dataType: 'json',
		success:function (data) {
			console.log(data)
		}
	})
}

function createSubmit(obj) {
	if ($('input[name="create_title"]').val() == "" || $('input[name="create_name"]').val() == "" || $('textarea[name="create_contain"]').val() == "") {
		layer.msg('内容不能留空');

		return
	}

	$(obj).attr('disabled', 'disabled')
	var data = {
		createTitle: $('input[name="create_title"]').val(),
		createName: $('input[name="create_name"]').val(),
		createContain: $('textarea[name="create_contain"]').val(),
	}

	$.ajax({
		type: 'POST',
		url: '/config/createConfig',
		data: data,
		dataType: 'json',
		success:function (data) {
			var layerIcon = data.code == 0 ? 1 : 2
			layer.msg(data.msg, {
			  icon: layerIcon,
			  time: 2000 //2秒关闭（如果不配置，默认是3秒）
			}, function(){
				window.location.reload();
			}); 
		}
	})
}
</script>
<%- include ../footer.html %>