<%- include header %>

<form method="post">
	用户名：<input tyoe="text" name="name"><br />
	密码：<input tyoe="password" name="password"><br />
	确认密码：<input tyoe="password" name="password-repeat"><br />
	<input type="submit" value="登录">
</form>

<%- include footer %>