<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="renderer" content="webkit" /> 
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="applicable-device" content="mobile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <meta name="wap-font-scale" content="no">
  <meta HTTP-EQUIV="pragma" content="no-cache"> 
  <meta HTTP-EQUIV="Cache-Control" content="no-cache, must-revalidate"> 
  <meta HTTP-EQUIV="expires" content="0">
  <meta charset="UTF-8">
	<title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/conmon.css">
  <script type="text/javascript" src="/bootstrap/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/javascripts/common.js"></script>
  <script type="text/javascript" src="/javascripts/dom.js"></script>
</head>
<body>
<header class="bottom-box-shadow">
    <div class="header">
        <h1 id="logo"><a href="/"><img src="/images/logo.png" alt="logo"></a></h1>
        <nav class="topnav" id="topnav"></nav>
    </div>
</header>